<a href="https://colab.research.google.com/github/KSY1526/SSUDA_LOTTEs/blob/main/LPOINT_Final_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# '''
# function ClickConnect(){
#     console.log("코랩 연결 끊김 방지"); 
#     document.querySelector("colab-toolbar-button#connect").click() 
# }
# setInterval(ClickConnect, 60 * 1000)
# '''

In [2]:
!pip install fastpivot
!pip install pyarrow

!nvidia-smi
!head /proc/cpuinfo
!head -n 3 /proc/meminfo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastpivot in /usr/local/lib/python3.7/dist-packages (0.1.12)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from fastpivot) (1.7.3)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from fastpivot) (1.3.5)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from fastpivot) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->fastpivot) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->fastpivot) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.0->fastpivot) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)
Sun Aug  7 07:24:29 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   54C    P8    10W /  70W |      3MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
MemTotal:       13298572 kB
MemFree:        10971704 kB
MemAvailable:   11957980 kB

In [3]:
from google.colab import drive
drive.mount("/content/drive")

import os
import warnings; warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import pyarrow as pa
from fastpivot import pivot_table
from tqdm import tqdm

from joblib import Parallel, delayed
import multiprocessing
num_cores = multiprocessing.cpu_count()

print("Usable Core : ", num_cores)
print("Pandas Version : ", pd.__version__) # 1.3.5
print("Pyarrow Version : ", pa.__version__) # 6.0.1

path = "/content/drive/MyDrive/lotte/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Usable Core :  2
Pandas Version :  1.3.5
Pyarrow Version :  6.0.1

# 데이터 생성

In [5]:
def make_datetime(df, drop=True):
    df["datetime"] = df["de_dt"].apply(str).str[:4] \
                                    + "-" + df["de_dt"].apply(str).str[4:6] \
                                    + "-" + df["de_dt"].apply(str).str[6:8] \
                                    + " " + df["de_hr"].apply(lambda x: str(x).zfill(2))
    df["datetime"] = pd.to_datetime(df["datetime"])
    if drop : df = df.drop(["de_dt", "de_hr"], axis=1)
    return df


def class_mapping(df, col, verbose=True):
    class_map = {lbl:idx for idx, lbl in enumerate(sorted(df[col].unique()))}
    if verbose : print(class_map)
    return df[col].map(class_map)

In [6]:
format_df = pd.read_parquet(path+"/LPOINT_BIG_COMP_PDDE_CUST.parquet", columns=["cust", "rct_no", "de_dt", "de_hr"], engine="pyarrow").drop_duplicates("rct_no", keep="first")
format_df = make_datetime(format_df, drop=True)
# format_df = format_df.set_index("datetime").sort_values("datetime").reset_index().set_index("rct_no") # 뒤에서 어차피 순서 바뀌어서 하지 않음..
format_df = format_df.set_index("rct_no")
print(format_df.head(5))


pdde_cust_df = pd.read_parquet(path+"/LPOINT_BIG_COMP_PDDE_CUST.parquet", columns=["rct_no", "ma_fem_dv", "ages", "chnl_dv", "zon_hlv", "cop_c"], engine="pyarrow").drop_duplicates("rct_no", keep="first").set_index("rct_no")
pdde_cust_df["ma_fem_dv"] = class_mapping(pdde_cust_df, "ma_fem_dv")
pdde_cust_df["chnl_dv"] = class_mapping(pdde_cust_df, "chnl_dv")
pdde_cust_df["ages"] = class_mapping(pdde_cust_df, "ages")
print(pdde_cust_df.head(5))



format_df = format_df.join(pdde_cust_df)
format_df["month"] = format_df.datetime.dt.month
format_df["dayofweek"] = format_df.datetime.dt.dayofweek
format_df = pd.get_dummies(format_df,
                           columns=["ages", "zon_hlv", "cop_c", "month", "dayofweek"])

format_df.head(5)

                    cust            datetime
rct_no
A01000001113  M430112881 2021-01-01 10:00:00
A01000003148  M430112881 2021-01-01 10:00:00
A01000004946  M430112881 2021-01-01 10:00:00
A01000005297  M430112881 2021-01-01 10:00:00
A01000006470  M430112881 2021-01-01 11:00:00
{'남성': 0, '여성': 1}
{1: 0, 2: 1}
{'20대': 0, '30대': 1, '40대': 2, '50대': 3, '60대': 4, '70대': 5}
              ma_fem_dv  ages  chnl_dv zon_hlv cop_c
rct_no
A01000001113          1     3        0     Z17   A01
A01000003148          1     3        0     Z17   A01
A01000004946          1     3        0     Z17   A01
A01000005297          1     3        0     Z17   A01
A01000006470          1     3        0     Z17   A01

,cust,datetime,ma_fem_dv,chnl_dv,ages_0,ages_1,ages_2,ages_3,ages_4,ages_5,...,month_10,month_11,month_12,dayofweek_0,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6
rct_no,,,,,,,,,,,,,,,,,,,,,
A01000001113,M430112881,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
A01000003148,M430112881,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
A01000004946,M430112881,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
A01000005297,M430112881,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
A01000006470,M430112881,2021-01-01 11:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
clac_mcls_df = pd.read_parquet(path+"/LPOINT_BIG_COMP_PDDE_CUST.parquet", columns=["rct_no", "clac_mcls_nm", "buy_ct"],engine="pyarrow")
clac_mcls_df = pivot_table(clac_mcls_df, index="rct_no", columns="clac_mcls_nm", values="buy_ct", aggfunc='sum', fill_value=0).astype("uint16")
clac_mcls_df.head(5)

clac_mcls_nm,DVD/홈시어터,TV,가공유,가방세트,간식/안주형과자,간편조리,갑각류,거실가구,건강가전,건강관리용품,...,핸드/풋케어,햄/소시지,향수,향신료,헤어액세서리,헤어케어,호주산소고기,홈웨어,홍삼/인삼가공식품,화장지/티슈
rct_no,,,,,,,,,,,,,,,,,,,,,
A01000001113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000002265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000003148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000004946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000005297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# 저장
processed_df = format_df.reset_index().set_index("rct_no").join(clac_mcls_df)
processed_df.to_parquet(path + "LPOINT_BIG_COMP_CLAC_MCLS_SUM.parquet", index=True, engine="pyarrow", compression=None)

In [9]:
# 로드
processed_df = pd.read_parquet(path + "LPOINT_BIG_COMP_CLAC_MCLS_SUM.parquet", engine="pyarrow")
processed_df = processed_df.reset_index().set_index("cust")
processed_df.head(3)

,rct_no,datetime,ma_fem_dv,chnl_dv,ages_0,ages_1,ages_2,ages_3,ages_4,ages_5,...,핸드/풋케어,햄/소시지,향수,향신료,헤어액세서리,헤어케어,호주산소고기,홈웨어,홍삼/인삼가공식품,화장지/티슈
cust,,,,,,,,,,,,,,,,,,,,,
M430112881,A01000001113,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
M430112881,A01000003148,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
M430112881,A01000004946,2021-01-01 10:00:00,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1266589 entries, M430112881 to M866900192
Columns: 401 entries, rct_no to 화장지/티슈
dtypes: datetime64[ns](1), int64(2), object(1), uint16(349), uint8(48)
memory usage: 949.4+ MB

In [11]:
import torch
import torchvision
from torchvision import transforms
import torch.nn.functional as F
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt
from torch.utils.data import DataLoader, Dataset
from torchvision import datasets, transforms

from sklearn.model_selection import train_test_split


device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')

In [12]:
custs = processed_df.index.unique()
features = [col for col in format_df.columns if col not in ["rct_no", "cust", "datetime"]] + ["date_interval", "date_from"] + list(clac_mcls_df.columns)
print(*custs[:400])
print(*features)

M430112881 M646853852 M669384418 M886923095 M707991383 M117855953 M641274652 M625839441 M284446967 M401266932 M860973355 M686795542 M878181490 M704866277 M942878878 M174599398 M651841347 M577884977 M511106441 M531271959 M422047369 M234266219 M049345995 M497989990 M009032626 M931922533 M165312283 M996518031 M705629628 M184969427 M741760270 M243577483 M558692172 M377967939 M838446773 M506355556 M879094374 M732600894 M856124318 M263574190 M157204685 M650733020 M017256273 M641186030 M986125865 M232573809 M268811651 M162681947 M163175113 M440960058 M502480776 M191537184 M030477840 M690898061 M506965359 M725878700 M840551273 M746428121 M334943764 M561787985 M982559329 M807374636 M676262214 M988646555 M530294706 M900002349 M694209751 M123475113 M318802112 M038801652 M517637921 M539562667 M615380326 M609491987 M259613010 M338310215 M156930891 M419249862 M474747127 M624588650 M083434555 M049216782 M897579293 M316171414 M583031784 M370732403 M336360825 M835554931 M456838034 M586590453 M618317251 M956523130 M125895076 M053988830 M135902971 M331473499 M590533132 M977958641 M080584695 M048866855 M544570827 M752234615 M503639362 M397267143 M361261196 M781690028 M400682924 M819510622 M690515737 M366378636 M781279343 M238272817 M283308210 M289433991 M889933238 M891510784 M557567409 M467972035 M307151561 M567053439 M542006779 M538975514 M751728576 M471430471 M740718660 M970944841 M063704872 M736347559 M081078897 M478445642 M277171255 M555439355 M041303212 M867122864 M291380287 M355489415 M374870930 M966247621 M685408649 M849831487 M134888191 M436594332 M245811064 M207638686 M411045461 M062661758 M640653493 M072419092 M142311429 M056621722 M081569058 M501683336 M701304871 M398872489 M858126924 M013285074 M896896560 M533330698 M661395471 M594992791 M263406446 M182645944 M311201219 M593107613 M350838042 M298972946 M179653812 M263888884 M448609005 M282287857 M185122523 M185111231 M123783273 M953537328 M330277227 M991142381 M576689847 M738189511 M143027432 M153728920 M645976443 M762374565 M662330091 M577654091 M164780413 M544201308 M085265637 M732454229 M027441945 M519427263 M070544564 M226332649 M633282276 M205363338 M962965060 M984043972 M205485737 M117809504 M598228720 M183680726 M811221360 M830841749 M736029357 M201766112 M695297284 M863620095 M046113622 M038025013 M131789394 M526195887 M018184823 M317849762 M282651149 M686992522 M769600155 M729284172 M325661634 M702291596 M648254795 M253642334 M372939322 M088827294 M455824780 M642054815 M740316079 M281834288 M323702255 M589321117 M154631657 M910235569 M426611726 M321170502 M671806083 M596502154 M326503256 M696696054 M992067686 M523038535 M193455495 M985499664 M819862062 M024101254 M349334435 M083270072 M163037071 M744087833 M963110512 M927459944 M050037422 M540285266 M473840199 M098691956 M638623920 M716420925 M886716967 M743162991 M113763811 M565268465 M206689995 M881295041 M796142629 M463646981 M241023449 M915705833 M624880671 M851088731 M300709577 M138404016 M528097150 M148171146 M783908672 M688055546 M227598269 M994408992 M230976524 M855865931 M973279178 M955472914 M159375452 M588861009 M014339861 M425442290 M293971269 M763821861 M639610559 M790389301 M156626330 M691001733 M137293709 M768886877 M906632032 M962168384 M256210228 M848484390 M910085650 M479079032 M382044219 M408121877 M686863232 M671280935 M358798958 M012936022 M939459373 M228934898 M453663197 M586645156 M773977093 M329379634 M385378751 M943231214 M868511118 M652409781 M144266465 M946555429 M155118619 M172530920 M724735320 M118705305 M523807626 M545634703 M473125141 M567331707 M839993508 M153301641 M837797129 M668130552 M591942182 M830396092 M075995202 M681527141 M142065131 M794513392 M740635403 M876101498 M180581027 M938305951 M676674347 M941739760 M639909786 M805001563 M139230976 M199918823 M837947257 M439565447 M380362011 M675461091 M682413497 M410974362 M116478829 M320474582 M222290281 M402794395 M472417736 M749486808 M975646754 M511952367 M471728550 M111934771 M020136767 M656737591 M023577934 M009731870 M680825569 M852720148 M490359476 M512121304 M493122026 M789404870 M065151598 M348056935 M051581833 M496844384 M941198920 M979862567 M678205637 M546798182 M567637265 M323773246 M464594888 M232452691 M660057347 M635243433 M716073127 M649268943 M270037733 M209483390 M183296106 M236433557 M109733557 M254848060 M064408352 M228124869 M370260069 M812923328 M317778161 M310879031 M420179972 M239456864 M260108058 M205853827
ma_fem_dv chnl_dv ages_0 ages_1 ages_2 ages_3 ages_4 ages_5 zon_hlv_Z01 zon_hlv_Z02 zon_hlv_Z03 zon_hlv_Z04 zon_hlv_Z05 zon_hlv_Z06 zon_hlv_Z07 zon_hlv_Z08 zon_hlv_Z09 zon_hlv_Z10 zon_hlv_Z11 zon_hlv_Z12 zon_hlv_Z13 zon_hlv_Z14 zon_hlv_Z15 zon_hlv_Z16 zon_hlv_Z17 cop_c_A01 cop_c_A02 cop_c_A03 cop_c_A04 cop_c_A05 cop_c_A06 month_1 month_2 month_3 month_4 month_5 month_6 month_7 month_8 month_9 month_10 month_11 month_12 dayofweek_0 dayofweek_1 dayofweek_2 dayofweek_3 dayofweek_4 dayofweek_5 dayofweek_6 date_interval date_from DVD/홈시어터 TV 가공유 가방세트 간식/안주형과자 간편조리 갑각류 거실가구 건강가전 건강관리용품 건강보조식품 건강진액 건강측정용품 건과일 건면 건어물 건해산물선물세트 격투기 견과류 계란류 고양이용품 골프 공구 공기청정/가습/제습 과일선물세트 과자세트 과채음료 교육보조재 교육완구 교환/정비용품 구강케어 국산과일 국산돼지고기 국산소고기 그릇/식기 기능성음료 기타 기타가구 기타고기류 기타구기/필드스포츠 기타국소고기 기타시즌스포츠 기타아웃도어/레저 기타애완동물 기타지갑 기프트 껌 꿀 나물류 낚시 난방가전 남성가방 남성골프의류 남성등산/아웃도어의류 남성속옷 남성스포츠화 남성양말류 남성의류상의 남성의류세트 남성의류아우터 남성의류전신 남성의류하의 남성일반스포츠의류 남성지갑 남성케어 남성특수목적의류 남성특수소재의류 남성패션액세서리 남성화 남아완구 남아의류상의 남아의류세트 남아의류아우터 남아의류전신 남아의류하의 남아특수목적의류 남아특수소재의류 냉동간편식 냉동과일 냉동포장생선류 냉방가전 냉장/냉동고 냉장간편식 냉장음료 냉장조리 노트 농구 농산물병통조림 닭고기류 동물병원 두부/콩나물류 두유 등산 디저트 떡 레토르트 렌탈서비스 렌탈수수료 맥주 메이크업 면도용품 모바일기기 모바일상품권 모바일액세서리 모자 미국산소고기 미술용품 미용소품 밀폐/보관용기 바디케어 반건생선 방향/제습/탈취제 배구 배드민턴 버섯류 베이커리 벨트 벽면/바닥용품 병통조림선물세트 보석 보수용품 보험 봉지라면 분말류 분말조리식 비스킷류 비식품테넌트 빵 뿌리채소 사무기기 사무용/학생용가구 사무용지/서식지 사탕/캔디 살충/방충제 생선회 생수 생활가전 생활서비스 생활요금상품판매/충전 서적 선식류 선케어 성인침구 세차용품 세탁/건조용품 세탁기 세탁세제 소모품 소스류 소주 소형디지털가전 속옷/양말/홈웨어세트 수납가구 수산물통조림 수산선물세트 수영/물놀이 수예소품 수예시즌소품 수예용품 수유/이유용품 수입과일 수입돼지고기 스낵류 스케이트/썰매 스키/보드 스킨케어 스포츠댄스 스포츠잡화 승용완구 시계 시공/DIY가구 시리얼 시트/쿠션/매트 식당 식용유류 실외놀이/스포츠완구 쌀 아이스크림 악기 안경/선글라스 안마/찜질용품 안전보호용품 안전용품 애견용품 액세서리편의용품 야구 야외용가구 양곡선물세트 양념육 양주 양채류 어류 어묵/맛살 여성가방 여성골프의류 여성등산/아웃도어의류 여성속옷 여성스포츠화 여성양말류 여성위생용품 여성의류상의 여성의류세트 여성의류아우터 여성의류전신 여성의류하의 여성일반스포츠의류 여성지갑 여성특수목적의류 여성특수소재의류 여성화 여아완구 여아의류상의 여아의류세트 여아의류아우터 여아의류전신 여아의류특수목적의류 여아의류하의 여아특수소재의류 여행/레저 여행용가방류 연체류 열매채소 영양제 오디오 오토바이 온장조리 와인 요구르트 욕실용품 용기라면 용기보증금 우산/양산류 우유 원두커피 원예 원예용품 웨이트 유가공품 유아간식 유아동가구 유아동속옷 유아동스포츠화 유아동식기 유아동양말류 유아동일반스포츠의류 유아동침구 유아동화 유아발육용품 유아스킨/바디케어 유아식 유아안전용품 유아위생용품 유아의류상의 유아의류세트 유아의류아우터 유아의류전신 유아의류하의 유아특수목적의류 육가공품 음료세트 음반/영상물 이미용가전 이용권/입장권 인라인/스케이트보드/킥보드 인스턴트커피 일반담배 일반문구/사무용품 일반의약외품 일반의약품 임대매출 임산부케어용품 잎채소 자동차음향/가전기기 자전거 잡곡 잡화균일가 장갑 장류 장식용품 잼 전기용품 전자/비디오게임 전자담배 전통과자류 전통주 전화기 정리용품 조개류 조리기구 조리도구 조명용품 조미료류 조미료세트 주류세트 주방가구 주방가전 주방세제 주방일회용품 주방정리용품/소모품 즉석반찬 즉석음료류 지류상품권 차류 차음료 채소선물세트 청소기 청소세제 청소용품 초콜릿 축구 축산물통조림 축산선물세트 침실가구 카메라/캠코더 카페트/러그/매트류 캐쥬얼가방 캠핑 커튼/블라인드류 커피/차세트 커피음료 컴퓨터/노트북 컴퓨터주변기기 탁구 탄산음료 테니스 특수담배 특수위생용품 특판 파이류 파티/팬시용품 패션액세서리 포장반찬 푸드코트 프리믹스 피트니스 필기도구 한방약재 해조류 해초류 핸드/풋케어 햄/소시지 향수 향신료 헤어액세서리 헤어케어 호주산소고기 홈웨어 홍삼/인삼가공식품 화장지/티슈

In [13]:
# def make_rct_tensor_by_cust(cust_idx, features=features, window=20, slide=10, dtype=torch.int16, drop=True):
#     global processed_df

#     cust_df = processed_df.loc[cust_idx]
#     rct_tensor_by_cust = []
#     rct_nos =[]
#     rct_length = len(cust_df)

#     if rct_length==1 or not isinstance(cust_df, pd.core.frame.DataFrame): # 길이가 1인 시리즈는 None 반환
#         return None

#     # cust index는 버려진다. rct_no도 index가 되면서 버려질 것.
#     # 구입일 간격에 대한 feature들을 생성하기 위해 sorting한다.
#     cust_df = cust_df.set_index("datetime").sort_values("datetime") \
#                  .reset_index().set_index("rct_no")
#     cust_df["date_interval"] = (cust_df.datetime - cust_df.datetime.shift(-1)).dt.days.fillna(-1) # 몇일만에 새로운 구입을 하였는지

#     cust_rcts = list(range(rct_length))
#     for i in cust_rcts[::slide]:
#         if rct_length-1 <= i: # 고객의 남은 영수증이 1개 이하인 경우 break
#             break
#         else:
#             temp = cust_df.iloc[i : i+window]
#             temp["date_from"] = (temp.datetime.iloc[0] - temp.datetime).dt.days # 최근 구입일로부터 몇일만에 구입한 영수증인지.  ex) [2]: 01/22, [1]: 02/11, [0]: 02/13 
#                                                                                                                                 # => [2]: 22,    [1]: 20,    [0]: 0
#             if not drop:
#                 rct_no = list(temp.index)
#                 rct_nos.append(rct_no)

#             temp = temp[features] # 피쳐 집합으로 원하는 피쳐를 골라 저장
#             temp = torch.tensor(temp.values, dtype=dtype) # window x features

#             if 1 < temp.shape[0] < window: # 고객의 남은 영수증이 2개 이상, 지정된 "최근 영수증 개수" 미만인 경우
#                 ones = torch.ones((window-temp.shape[0], temp.shape[1]), dtype=dtype) # "영수증 텐서" 생성, 부족한 영수증 데이터는 -1로 채움.
#                 temp = torch.cat((temp, -ones), dim=0)

#             rct_tensor_by_cust.append(temp)

        
#     rct_tensor_by_cust = torch.stack(rct_tensor_by_cust, dim=0) # cust's rcts x window x features
#     if not drop:
#         return rct_tensor_by_cust, rct_nos
#     else:
#         return rct_tensor_by_cust

In [14]:
def make_rct_tensor_by_cust(cust_idx, features=features, window=10, slide=5, dtype=torch.int16, drop=True):
    global processed_df

    cust_df = processed_df.loc[cust_idx]
    rct_tensor_by_cust = []
    rct_nos =[]
    rct_length = len(cust_df)

    if rct_length < window or not isinstance(cust_df, pd.core.frame.DataFrame): # 길이가 1인 시리즈는 None 반환
        return None

    # cust index는 버려진다. rct_no도 index가 되면서 버려질 것.
    # 구입일 간격에 대한 feature들을 생성하기 위해 sorting한다.
    cust_df = cust_df.set_index("datetime").sort_values("datetime") \
                 .reset_index().set_index("rct_no")
    cust_df["date_interval"] = (cust_df.datetime - cust_df.datetime.shift(-1)).dt.days.fillna(-1) # 몇일만에 새로운 구입을 하였는지

    cust_rcts = list(range(rct_length))
    for i in cust_rcts[::slide]:
        if rct_length-window < i: # 고객의 남은 영수증이 window개 이하인 경우 break
            break
        else:
            temp = cust_df.iloc[i : i+window]
            temp["date_from"] = (temp.datetime.iloc[0] - temp.datetime).dt.days # 최근 구입일로부터 몇일만에 구입한 영수증인지.  ex) [2]: 01/22, [1]: 02/11, [0]: 02/13 
                                                                                                                                # => [2]: 22,    [1]: 20,    [0]: 0
            if not drop:
                rct_no = list(temp.index)
                rct_nos.append(rct_no)

            temp = temp[features] # 피쳐 집합으로 원하는 피쳐를 골라 저장
            temp = torch.tensor(temp.values, dtype=dtype) # window x features

            rct_tensor_by_cust.append(temp)

        
    rct_tensor_by_cust = torch.stack(rct_tensor_by_cust, dim=0) # cust's rcts x window x features
    if not drop:
        return rct_tensor_by_cust, rct_nos
    else:
        return rct_tensor_by_cust

In [15]:
# cust_idx = custs[0]
# tens, nos = make_rct_tensor_by_cust(cust_idx, drop=False)
# nos[0]

# processed_df.loc[cust_idx].sort_values(by="datetime")[:20].rct_no

In [16]:
len(custs)

26917

In [17]:
# window = 20 # 한 텐서 안에 들어갈 "최근 영수증 개수"
# slide = 10 # 한 고객의 영수증 기록에서 window로 스캔 시의 간격
# chunk_num = 10
# sample_size = 1000

In [18]:
window = 10 # 한 텐서 안에 들어갈 "최근 영수증 개수"
slide = 5 # 한 고객의 영수증 기록에서 window로 스캔 시의 간격
chunk_num = 16
sample_size = 26912 # 26912
# rct_tensors = []
# sampled_custs = np.random.choice(list(custs), size=sample_size)

# for j in tqdm(range(sample_size//chunk_num), position=0, desc="making_data...", leave=None):
#     if j == sample_size//chunk_num-1:
#         rct_chunk_tensors = Parallel(n_jobs=num_cores)(delayed(make_rct_tensor_by_cust)(cust_idx, features=features, window=window, slide=10, dtype=torch.int16) for cust_idx in sampled_custs[j*chunk_num:])
#     else:
#         rct_chunk_tensors = Parallel(n_jobs=num_cores)(delayed(make_rct_tensor_by_cust)(cust_idx, features=features, window=window, slide=10, dtype=torch.int16) for cust_idx in sampled_custs[j*chunk_num : (j+1)*chunk_num])
#     rct_chunk_tensors = [t for t in rct_chunk_tensors if t is not None] # None을 없앤다.
#     rct_chunk_tensors = torch.cat(rct_chunk_tensors, dim=0)

#     print(f"{j}번째 chunk의 Tensor Shape : ", rct_chunk_tensors.shape)
#     rct_tensors.append(rct_chunk_tensors) # 전체 tensor에 추가
#     del rct_chunk_tensors

# rct_tensors = torch.cat(rct_tensors, dim = 0)
# rct_tensors.shape

# 모델링

In [19]:
import torch
import torchvision
from torchvision import transforms
import torch.nn.functional as F
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt
from torch.utils.data import DataLoader, Dataset
from torchvision import datasets, transforms

from sklearn.model_selection import train_test_split


device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')

In [20]:
# torch.save(rct_tensors, path + "LPOINT_BIG_COMP_RCT_TENSORS.pt")
rct_tensors = torch.load(path + "LPOINT_BIG_COMP_RCT_TENSORS8000.pt")

In [ ]:
rct_tensors.shape

In [61]:
class CustomDataset(Dataset):
    def __init__(self, rct_tensors = None, cust_idx = None, train_mode=True, transforms = None):
        self.transforms = transforms
        self.rct_tensors = rct_tensors
        self.train_mode = train_mode
        if not self.train_mode:
            if (make_rct_tensor_by_cust(cust_idx, drop=False) is None):
                self.tensors = []
            else:
                self.tensors, self.rct_nos = make_rct_tensor_by_cust(cust_idx, drop=False)

    def __len__(self):
        if self.train_mode :
            return self.rct_tensors.shape[0]
        else: 
            return len(self.tensors)

    def __getitem__(self, idx):
        
        if self.train_mode:
            input = self.rct_tensors[idx]
            if self.transforms is not None:
                input = self.transforms(input)[0]
            return input, input[:,52:]
        else:
            return self.tensors[idx], self.rct_nos[idx][0]

In [22]:
class Encoder(nn.Module):
    def __init__(self, seq_len, n_features, embedding_dim=64):
        super(Encoder, self).__init__()
        self.seq_len, self.n_features = seq_len, n_features
        self.embedding_dim, self.hidden_dim = (
            embedding_dim, 2 * embedding_dim
        )
        self.rnn1 = nn.LSTM(
          input_size=n_features,
          hidden_size=self.hidden_dim,
          num_layers=1,
          batch_first=True
        )
        self.rnn2 = nn.LSTM(
          input_size=self.hidden_dim,
          hidden_size=embedding_dim,
          num_layers=1,
          batch_first=True
        )
    def forward(self, x):
        x, (_, _) = self.rnn1(x)
        x, (hidden_n, _) = self.rnn2(x)
        return  x[:,-1,:]

In [23]:
class Decoder(nn.Module):
    def __init__(self, input_dim=64, n_features=1):
        super(Decoder, self).__init__()
        self.dropout_prob = 0.2
        self.decoder_lin = nn.Sequential(
            nn.Linear(input_dim, 128, bias = True),
            nn.BatchNorm1d(128),
            nn.ReLU(True),
            nn.Dropout(self.dropout_prob),
            
            nn.Linear(128, 512, bias = True),
            nn.BatchNorm1d(512),
            nn.ReLU(True),
            nn.Dropout(self.dropout_prob),

            nn.Linear(512, 1024, bias = True),
            nn.BatchNorm1d(1024),
            nn.ReLU(True),
            nn.Dropout(self.dropout_prob),

            nn.Linear(1024, (n_features-52) * window, bias = True),
            nn.ReLU(True)
        )
        self.unflatten = nn.Unflatten(dim=1, unflattened_size=(window, n_features - 52))
        
        
    def forward(self, x):
        x = self.decoder_lin(x)
        x = self.unflatten(x) - 1

        return x

In [24]:
class RecurrentAutoencoder(nn.Module):
    def __init__(self, seq_len, n_features, embedding_dim=64):
        super(RecurrentAutoencoder, self).__init__()
        self.encoder = Encoder(seq_len, n_features, embedding_dim)#.to(device)
        self.decoder = Decoder(embedding_dim, n_features)#.to(device)

    def forward(self, x, train_mode = True):
        if train_mode:
            x = self.encoder(x)
            x = self.decoder(x)
        else:
            x = self.encoder(x)
        return x

In [25]:
from torchvision.transforms import Lambda

def lambda_function(x):
    y = x[:, :, 50:]
    y = torch.log1p(y)
    y = torch.nn.functional.normalize(y, dim=1)
    x = torch.cat((x[:, :, :50], y), dim = 2)
    return x

transform = transforms.Compose([
    # 0~1의 범위를 가지도록 정규화
    transforms.ToTensor(),
    # transforms.Normalize((0.485), (0.229))
    ])

# transform = transforms.Compose([
#     Lambda(lambda_function)
#     ])

window = 10 # 한 텐서 안에 들어갈 "최근 영수증 개수"
slide = 5 # 한 고객의 영수증 기록에서 window로 스캔 시의 간격

In [26]:
#n X n_features  시계열 데이터를 1 X 128 형태로 변환
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

model = RecurrentAutoencoder(window, 401, 10)
model = model.to(device)

batch_size = 512

In [27]:
train_id, valid_id = train_test_split(range(rct_tensors.shape[0]), test_size = 0.4, random_state = 42)
valid_id, test_id = train_test_split(valid_id, test_size = 0.5, random_state = 42)

In [28]:
# log를 취해도 np.uint8 떄문에 소용 없어진다.
train_dataset = CustomDataset(rct_tensors.detach().numpy().astype(np.uint8)[train_id], 
                              train_mode = True, transforms = transform)
train_loader = DataLoader(train_dataset, batch_size = batch_size, shuffle=False, num_workers=0)

valid_dataset = CustomDataset(rct_tensors.detach().numpy().astype(np.uint8)[valid_id], 
                              train_mode = True, transforms = transform)
valid_loader = DataLoader(train_dataset, batch_size = batch_size, shuffle=False, num_workers=0)

In [24]:
rct_tensors.detach().numpy().astype(np.uint8)[valid_id].shape

(6981, 10, 401)

In [29]:
for idx, batch in enumerate(valid_loader):
    x, y = batch[0].float().to(device), batch[1].float().to(device)
    break

In [35]:
np.max(x.detach().numpy())

TypeError: ignored

In [30]:
def validation(model, vali_loader, criterion, device):
    model.eval() # Evaluation
    vali_loss = []
    with torch.no_grad():
        for idx, batch in enumerate(vali_loader):
            x, y = batch[0].float().to(device), batch[1].float().to(device)

            pred = model(x)
            loss = criterion(pred, y)
            
            vali_loss.append(loss.item()/batch_size)

    vali_mae_loss = np.mean(vali_loss)
    return vali_mae_loss

In [31]:
optimizer = torch.optim.Adam(model.parameters(), lr=1e-3)
# Loss Function
criterion = nn.L1Loss(reduction='sum').to(device)

In [32]:
def train(model, optimizer, train_loader, vali_loader, scheduler, device):

    best_mae = 9999
    
    for epoch in range(500):
        model.train()
        train_loss = []
        for idx, batch in tqdm(enumerate(train_loader)):
            x, y = batch[0].float().to(device), batch[1].float().to(device)
            optimizer.zero_grad()
            # Data -> Model -> Output
            pred = model(x)
            
            # Calc loss
            loss = criterion(pred, y)

            # backpropagation
            loss.backward()
            optimizer.step()

            train_loss.append(loss.item()/batch_size)
                        
        # Evaluation Validation set
        vali_mae = validation(model, valid_loader, criterion, device)
        
        print(f'Epoch [{epoch}] Train MAE : [{np.mean(train_loss):.5f}] Validation MAE : [{vali_mae:.5f}]\n')

In [33]:
train(model, optimizer, train_loader,valid_loader, None, device)

41it [00:02, 15.08it/s]

Epoch [0] Train MAE : [775.51662] Validation MAE : [486.44196]

41it [00:01, 24.63it/s]

Epoch [1] Train MAE : [358.85300] Validation MAE : [190.51990]

41it [00:01, 24.91it/s]

Epoch [2] Train MAE : [311.44938] Validation MAE : [327.16799]

41it [00:01, 24.69it/s]

Epoch [3] Train MAE : [272.38361] Validation MAE : [400.61737]

41it [00:01, 24.70it/s]

Epoch [4] Train MAE : [247.75482] Validation MAE : [496.82932]

41it [00:01, 24.61it/s]

Epoch [5] Train MAE : [244.89996] Validation MAE : [1724.12284]

41it [00:01, 24.52it/s]

Epoch [6] Train MAE : [212.22347] Validation MAE : [774.62225]

41it [00:03, 12.42it/s]

Epoch [7] Train MAE : [207.38229] Validation MAE : [557.15312]

41it [00:01, 23.18it/s]

Epoch [8] Train MAE : [200.95074] Validation MAE : [768.58596]

41it [00:01, 24.70it/s]

Epoch [9] Train MAE : [184.13115] Validation MAE : [456.49325]

41it [00:03, 11.60it/s]

Epoch [10] Train MAE : [167.10330] Validation MAE : [385.34255]

41it [00:02, 17.14it/s]

Epoch [11] Train MAE : [157.51753] Validation MAE : [1282.26965]

41it [00:02, 18.76it/s]

Epoch [12] Train MAE : [169.85670] Validation MAE : [1860.54768]

41it [00:01, 26.43it/s]

Epoch [13] Train MAE : [184.90973] Validation MAE : [1921.60935]

41it [00:02, 20.04it/s]

Epoch [14] Train MAE : [175.27158] Validation MAE : [317.24093]

41it [00:01, 24.83it/s]

Epoch [15] Train MAE : [130.00596] Validation MAE : [590.88369]

41it [00:01, 24.23it/s]

Epoch [16] Train MAE : [173.59364] Validation MAE : [2032.34910]

41it [00:01, 25.30it/s]

Epoch [17] Train MAE : [220.12109] Validation MAE : [1669.25774]

41it [00:01, 25.38it/s]

Epoch [18] Train MAE : [202.54106] Validation MAE : [2713.70040]

41it [00:01, 25.37it/s]

Epoch [19] Train MAE : [207.09376] Validation MAE : [1704.41874]

41it [00:01, 25.29it/s]

Epoch [20] Train MAE : [147.42961] Validation MAE : [645.96292]

41it [00:01, 24.31it/s]

Epoch [21] Train MAE : [147.57993] Validation MAE : [1030.78902]

41it [00:01, 25.52it/s]

Epoch [22] Train MAE : [160.17985] Validation MAE : [1363.24580]

41it [00:01, 25.30it/s]

Epoch [23] Train MAE : [187.82984] Validation MAE : [695.72636]

41it [00:01, 25.37it/s]

Epoch [24] Train MAE : [269.05137] Validation MAE : [877.08350]

41it [00:01, 25.07it/s]

Epoch [25] Train MAE : [234.28575] Validation MAE : [430.98242]

41it [00:01, 25.33it/s]

Epoch [26] Train MAE : [206.68149] Validation MAE : [211.86939]

41it [00:01, 24.97it/s]

Epoch [27] Train MAE : [166.32277] Validation MAE : [183.77028]

41it [00:01, 25.23it/s]

Epoch [28] Train MAE : [159.19317] Validation MAE : [458.72620]

41it [00:01, 25.24it/s]

Epoch [29] Train MAE : [163.92915] Validation MAE : [584.14869]

41it [00:01, 25.39it/s]

Epoch [30] Train MAE : [152.77668] Validation MAE : [406.05522]

41it [00:01, 24.59it/s]

Epoch [31] Train MAE : [164.03853] Validation MAE : [205.01420]

41it [00:01, 25.06it/s]

Epoch [32] Train MAE : [242.13942] Validation MAE : [779.95144]

41it [00:01, 25.08it/s]

Epoch [33] Train MAE : [262.60269] Validation MAE : [174.12324]

41it [00:01, 23.95it/s]

Epoch [34] Train MAE : [204.74013] Validation MAE : [365.53110]

41it [00:01, 22.28it/s]

Epoch [35] Train MAE : [218.45114] Validation MAE : [286.26097]

41it [00:01, 24.48it/s]

Epoch [36] Train MAE : [154.69764] Validation MAE : [101.09910]

41it [00:01, 25.26it/s]

Epoch [37] Train MAE : [140.38654] Validation MAE : [338.29206]

41it [00:01, 23.78it/s]

Epoch [38] Train MAE : [126.83930] Validation MAE : [263.89168]

41it [00:01, 24.66it/s]

Epoch [39] Train MAE : [177.81200] Validation MAE : [706.24003]

41it [00:01, 25.40it/s]

Epoch [40] Train MAE : [232.32126] Validation MAE : [414.31452]

41it [00:01, 25.36it/s]

Epoch [41] Train MAE : [245.86908] Validation MAE : [319.07126]

41it [00:01, 24.42it/s]

Epoch [42] Train MAE : [337.10793] Validation MAE : [250.19351]

41it [00:01, 25.15it/s]

Epoch [43] Train MAE : [262.01972] Validation MAE : [252.99001]

41it [00:01, 25.22it/s]

Epoch [44] Train MAE : [254.71645] Validation MAE : [206.73473]

41it [00:01, 25.21it/s]

Epoch [45] Train MAE : [255.13910] Validation MAE : [272.89318]

41it [00:01, 25.49it/s]

Epoch [46] Train MAE : [266.09547] Validation MAE : [124.30614]

41it [00:01, 25.45it/s]

Epoch [47] Train MAE : [178.30216] Validation MAE : [149.51862]

41it [00:01, 24.23it/s]

Epoch [48] Train MAE : [173.40232] Validation MAE : [689.03982]

41it [00:01, 25.11it/s]

Epoch [49] Train MAE : [293.12495] Validation MAE : [248.20041]

41it [00:01, 25.34it/s]

Epoch [50] Train MAE : [201.70350] Validation MAE : [218.78427]

41it [00:01, 23.86it/s]

Epoch [51] Train MAE : [234.89312] Validation MAE : [116.95028]

41it [00:01, 25.54it/s]

Epoch [52] Train MAE : [173.46505] Validation MAE : [239.01484]

41it [00:01, 25.25it/s]

Epoch [53] Train MAE : [249.53145] Validation MAE : [109.10286]

41it [00:01, 24.47it/s]

Epoch [54] Train MAE : [160.90043] Validation MAE : [146.64082]

41it [00:01, 25.41it/s]

Epoch [55] Train MAE : [209.60069] Validation MAE : [117.34813]

41it [00:01, 25.34it/s]

Epoch [56] Train MAE : [215.53908] Validation MAE : [131.91358]

41it [00:01, 24.26it/s]

Epoch [57] Train MAE : [132.70286] Validation MAE : [167.71888]

41it [00:01, 24.71it/s]

Epoch [58] Train MAE : [170.54222] Validation MAE : [125.27957]

41it [00:01, 25.25it/s]

Epoch [59] Train MAE : [165.78089] Validation MAE : [203.62300]

41it [00:01, 25.43it/s]

KeyboardInterrupt: ignored

In [53]:
cust_idx = custs[12]  #1234가 안되는거
test_dataset = CustomDataset(rct_tensors = None, cust_idx = cust_idx, train_mode = False, transforms = None)
test_dataset.__len__()

6

In [66]:
cust_idx = custs[145]  #1234가 안되는거
test_dataset = CustomDataset(rct_tensors = None, cust_idx = cust_idx, train_mode = False, transforms = None)
test_dataset.__len__()

23

In [55]:
custs[144]

'M411045461'

In [73]:
df = pd.DataFrame()
for i in tqdm(range(26917)):    
    cust_idx = custs[i]  #1234가 안되는거
    test_dataset = CustomDataset(rct_tensors = None, cust_idx = cust_idx, train_mode = False, transforms = None) # 어떤 고객은 데이터셋이 없을 수 있음.
    if test_dataset.__len__() == 0:
        continue
    test_loader = DataLoader(test_dataset, batch_size=1000, shuffle=False, num_workers=0)

    model.eval() # Evaluation
    results = pd.DataFrame()
    with torch.no_grad():
        for idx, batch in enumerate(test_loader):
            x, rct_no = batch[0].float().to(device), batch[1]

            pred = model(x, train_mode = False).to("cpu").detach().numpy()
            result = pd.DataFrame(pred)
            result = pd.concat((pdde_cust_df.loc[list(rct_no)].reset_index(), result), axis=1)
            
            results = pd.concat((results, result), axis=0)
            # break

    df = pd.concat((df, result), axis=0)
df

100%|██████████| 26917/26917 [43:38<00:00, 10.28it/s]

,rct_no,ma_fem_dv,ages,chnl_dv,zon_hlv,cop_c,0,1,2,3,4,5,6,7,8,9
0,A01000001113,1,3,0,Z17,A01,-0.003499,-0.097034,0.132439,0.090437,-0.081073,-0.096178,0.020280,-0.243195,-0.447459,0.026381
1,A01000007648,1,3,0,Z17,A01,-0.161823,-0.124157,0.189549,0.019463,-0.061196,0.038573,0.098080,-0.238949,-0.348969,0.163122
2,A03104921319,1,3,0,Z17,A03,-0.152364,-0.111995,0.171075,-0.058756,-0.041543,0.005752,0.120717,-0.219868,-0.379981,0.123004
3,A03104969721,1,3,0,Z17,A03,-0.153275,-0.116798,0.176958,-0.126616,-0.038817,0.008592,0.106148,-0.223084,-0.345886,0.144454
4,A03089375637,1,3,0,Z17,A03,-0.122719,-0.127713,0.144397,-0.048440,-0.052536,0.040808,0.115069,-0.230942,-0.293541,0.172711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,E06043646151,1,2,1,Z17,A06,-0.167120,-0.086208,0.172319,-0.144060,-0.000482,0.018715,0.133233,-0.149462,-0.167701,0.171611
5,E06045000396,1,2,1,Z17,A06,-0.149323,-0.135856,0.123108,-0.000361,-0.053221,0.039866,0.095177,-0.219620,-0.196483,0.188880
6,E06047254820,1,2,1,Z17,A06,-0.155091,-0.109149,0.132143,-0.035873,-0.043597,0.047228,0.100373,-0.220499,-0.195892,0.171555
0,E06043099892,0,2,1,Z10,A06,-0.139966,-0.126596,0.141192,0.003646,-0.057350,0.046370,0.093213,-0.208389,-0.196228,0.199740
1,E06046190490,0,2,1,Z10,A06,-0.152769,-0.124576,0.159369,-0.031503,-0.048179,0.050773,0.104911,-0.209812,-0.206893,0.184210

In [76]:
df.to_csv(path + 'df.csv',index=False)