In [110]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [111]:
!pip install fuzzy-c-means

from fcmeans import FCM
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

path = '/content/drive/MyDrive/lotte/'

customers = pd.read_csv(path + 'LPOINT_BIG_COMP_01_DEMO.csv')
record = pd.read_csv(path + 'LPOINT_BIG_COMP_02_PDDE.csv')
recordP = pd.read_csv(path + 'LPOINT_BIG_COMP_03_COP_U.csv')
products = pd.read_csv(path + 'LPOINT_BIG_COMP_04_PD_CLAC.csv')
stores = pd.read_csv(path + 'LPOINT_BIG_COMP_05_BR.csv')
recordL = pd.read_csv(path + 'LPOINT_BIG_COMP_06_LPAY.csv')
df = pd.read_csv(path + 'df.csv')
df.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fuzzy-c-means in /usr/local/lib/python3.7/dist-packages (1.6.3)
Requirement already satisfied: pydantic<2.0.0,>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (1.9.1)
Requirement already satisfied: typer<0.4.0,>=0.3.2 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (0.3.2)
Requirement already satisfied: numpy<2.0.0,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (1.21.6)
Requirement already satisfied: tabulate<0.9.0,>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from fuzzy-c-means) (0.8.10)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic<2.0.0,>=1.8.2->fuzzy-c-means) (4.1.1)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.4.0,>=0.3.2->fuzzy-c-means) (7.1.2)

,rct_no,ma_fem_dv,ages,chnl_dv,zon_hlv,cop_c,0,1,2,3,4,5,6,7,8,9
0,A01000001113,1,3,0,Z17,A01,-0.003499,-0.097034,0.132439,0.090437,-0.081073,-0.096178,0.020280,-0.243195,-0.447459,0.026381
1,A01000007648,1,3,0,Z17,A01,-0.161823,-0.124157,0.189549,0.019463,-0.061196,0.038573,0.098080,-0.238949,-0.348969,0.163122
2,A03104921319,1,3,0,Z17,A03,-0.152364,-0.111995,0.171075,-0.058756,-0.041543,0.005752,0.120717,-0.219868,-0.379981,0.123004
3,A03104969721,1,3,0,Z17,A03,-0.153275,-0.116798,0.176958,-0.126616,-0.038817,0.008592,0.106148,-0.223084,-0.345886,0.144454
4,A03089375637,1,3,0,Z17,A03,-0.122719,-0.127713,0.144397,-0.048440,-0.052536,0.040808,0.115069,-0.230942,-0.293542,0.172711

# 군집화

In [113]:
fcm = FCM(n_clusters=20, random_state= 0)
fcm.fit(summary.to_numpy())

fcm_labels = fcm.predict(summary.to_numpy())
fcm.u

array([[0.0427498 , 0.03611086, 0.00349275, ..., 0.05912903, 0.03632912,
        0.02950334],
       [0.13423187, 0.0601605 , 0.00041359, ..., 0.04646065, 0.31497625,
        0.04060746],
       [0.073017  , 0.1227836 , 0.00086997, ..., 0.0874833 , 0.06212922,
        0.03738929],
       ...,
       [0.04571489, 0.12224704, 0.00188492, ..., 0.04326665, 0.07500541,
        0.25405468],
       [0.04380323, 0.09437835, 0.00181427, ..., 0.03934461, 0.07633575,
        0.3424637 ],
       [0.04296973, 0.11663869, 0.00158694, ..., 0.03775811, 0.07541088,
        0.33445826]])

In [114]:
df['pred'] = fcm_labels
df['pred'].value_counts()

10    26418
18    20475
19    19570
1     16069
11    13693
0     12861
3     11367
12    10962
16    10518
17     9813
15     9502
14     8946
6      8439
13     7705
7      7684
8      7495
4      6681
5      6298
9      3422
2      1835
Name: pred, dtype: int64

In [115]:
new_df = pd.DataFrame(fcm.u)
new_df['rct_no'] = df['rct_no']
new_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,rct_no
0,0.042750,0.036111,0.003493,0.174078,0.020823,0.031783,0.056570,0.083594,0.064075,0.007572,...,0.092129,0.049044,0.040018,0.050546,0.042065,0.042946,0.059129,0.036329,0.029503,A01000001113
1,0.134232,0.060160,0.000414,0.004681,0.002208,0.001563,0.021612,0.010977,0.002413,0.000843,...,0.019227,0.087281,0.004782,0.009028,0.046724,0.105488,0.046461,0.314976,0.040607,A01000007648
2,0.073017,0.122784,0.000870,0.008248,0.004993,0.002781,0.063836,0.025162,0.004247,0.001811,...,0.038363,0.091049,0.011588,0.024282,0.145183,0.154553,0.087483,0.062129,0.037389,A03104921319
3,0.063566,0.157930,0.001637,0.011538,0.008539,0.004524,0.063501,0.029392,0.006596,0.003312,...,0.036546,0.068134,0.017952,0.033638,0.136280,0.112498,0.063872,0.069649,0.066932,A03104969721
4,0.039764,0.276133,0.000677,0.005389,0.003921,0.002004,0.037682,0.015626,0.002984,0.001415,...,0.018697,0.039794,0.008903,0.017951,0.118651,0.088398,0.035718,0.074970,0.183641,A03089375637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219748,0.052757,0.110866,0.005145,0.018579,0.025029,0.008777,0.067728,0.042869,0.012062,0.010448,...,0.040130,0.053484,0.042372,0.060003,0.094435,0.074805,0.053247,0.067337,0.115116,E06043646151
219749,0.045697,0.099645,0.001836,0.011860,0.010556,0.004855,0.050151,0.029805,0.007073,0.003862,...,0.029646,0.044121,0.021862,0.036348,0.076215,0.064608,0.042217,0.078289,0.300978,E06045000396
219750,0.045715,0.122247,0.001885,0.011259,0.010984,0.004631,0.054541,0.029855,0.006723,0.003986,...,0.029265,0.044908,0.022956,0.039283,0.090511,0.070394,0.043267,0.075005,0.254055,E06047254820
219751,0.043803,0.094378,0.001814,0.011533,0.010038,0.004809,0.045110,0.027432,0.006962,0.003778,...,0.027765,0.041745,0.020093,0.032589,0.069902,0.060748,0.039345,0.076336,0.342464,E06043099892
219752,0.042970,0.116639,0.001587,0.009596,0.008665,0.003991,0.043379,0.023881,0.005763,0.003287,...,0.024800,0.040926,0.017465,0.029461,0.078241,0.064923,0.037758,0.075411,0.334458,E06046190490

In [116]:
# 1시간 반해도 안끝남
# new_df['cust'] = new_df.apply(lambda x : record[record['rct_no'] == x['rct_no']]['cust'], axis = 1)

# 코사인 유사도 기반 추천시스템 함수

In [117]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(new_df[new_df['rct_no'] == 'E06047254820'].iloc[:,:20].to_numpy().reshape(1,-1), new_df.iloc[:,:20].to_numpy())

array([[0.47402441, 0.53819841, 0.70156736, ..., 1.        , 0.97605466,
        0.98434275]])

In [132]:
from sklearn.metrics.pairwise import cosine_similarity

def recommend(rct_num):
    receipt = new_df[new_df['rct_no'] == rct_num] # receipt : 영수증
    tem = new_df.copy()
    tem['cosine'] = cosine_similarity(receipt.iloc[:,:20].to_numpy().reshape(1,-1), new_df.iloc[:,:20].to_numpy()).T
    
    tem = tem[['rct_no', 'cosine']]
    tem = tem.sort_values(by = ['cosine'], ascending = False)
    #tem = tem.reset_index()
    people = []

    # 코사인 유사도가 높은 상위 5명(tem[0]은 본인이 나옴)
    for i in list(tem['rct_no'][1:6]):
        # 영수증에 맞는 사람 찾기
        people.append(record[record['rct_no'] == i]['cust'].values[0])
    
    product = []
    for i in people:
        product.append(record[record['cust'] == i].sample(n = 1)['pd_c'].values[0])

    # 본인 선택 상품과 일치 여부(성능평가)
    myname = record[record['rct_no'] == rct_num]['cust'][:1].values[0]
    myproduct = set(record[record['cust'] == myname]['pd_c'])
    mycnt = len(myproduct)

    # 상품 이름 출력 위해
    names = []
    overlap = 0
    for i in product:
        if i in myproduct: # 이미 산 제품이라면
            overlap += 1
        else:
            names.append(products[products['pd_c'] == i]['pd_nm'].values[0])
    #print(*names) 
    #print(mycnt, '개 제품 구매했는데,', overlap, '개 겹치게 추천')

    return overlap / mycnt

recommend('A03089375637')

0.017857142857142856

In [131]:
def randomrecommend(rct_num):
    myname = record[record['rct_no'] == rct_num]['cust'][:1].values[0]
    myproduct = set(record[record['cust'] == myname]['pd_c'])
    mycnt = len(myproduct)

    overlap = 0
    for i in products['pd_c'].sample(n = 5).values:
        if i in myproduct: # 이미 산 제품이라면
            overlap += 1

    return overlap / mycnt

randomrecommend('A03089375637')

0.0

In [135]:
score1 = 0
score2 = 0
for i in tqdm(new_df['rct_no'].sample(n = 100).values):
    score1 += recommend(i)
    score2 += randomrecommend(i)

print(score1,score2)

100%|██████████| 100/100 [08:21<00:00,  5.02s/it]

1.423624770633876 0.23045552526725568

# 구매력이 예민할 시기

In [141]:
df = pd.merge(df,record[['rct_no','cust']].drop_duplicates(), how='left')#, left_on='stock_name', right_on='name')

In [145]:
df[df['pred'] == 3]['ages'].value_counts() / len(df[df['pred'] == 3])

2    0.397554
3    0.228029
1    0.214920
4    0.073282
0    0.066156
5    0.020058
Name: ages, dtype: float64

In [146]:
df['ages'].value_counts() / len(df)

2    0.391631
1    0.244820
3    0.204948
0    0.072099
4    0.065437
5    0.021065
Name: ages, dtype: float64

In [147]:
df

,rct_no,ma_fem_dv,ages,chnl_dv,zon_hlv,cop_c,0,1,2,3,4,5,6,7,8,9,pred,cust
0,A01000001113,1,3,0,Z17,A01,-0.003499,-0.097034,0.132439,0.090437,-0.081073,-0.096178,0.020280,-0.243195,-0.447459,0.026381,3,M430112881
1,A01000007648,1,3,0,Z17,A01,-0.161823,-0.124157,0.189549,0.019463,-0.061196,0.038573,0.098080,-0.238949,-0.348969,0.163122,18,M430112881
2,A03104921319,1,3,0,Z17,A03,-0.152364,-0.111995,0.171075,-0.058756,-0.041543,0.005752,0.120717,-0.219868,-0.379981,0.123004,16,M430112881
3,A03104969721,1,3,0,Z17,A03,-0.153275,-0.116798,0.176958,-0.126616,-0.038817,0.008592,0.106148,-0.223084,-0.345886,0.144454,1,M430112881
4,A03089375637,1,3,0,Z17,A03,-0.122719,-0.127713,0.144397,-0.048440,-0.052536,0.040808,0.115069,-0.230942,-0.293542,0.172711,1,M430112881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219748,E06043646151,1,2,1,Z17,A06,-0.167120,-0.086208,0.172319,-0.144060,-0.000482,0.018715,0.133233,-0.149462,-0.167701,0.171611,19,M231139676
219749,E06045000396,1,2,1,Z17,A06,-0.149323,-0.135856,0.123108,-0.000361,-0.053221,0.039866,0.095177,-0.219620,-0.196483,0.188880,19,M231139676
219750,E06047254820,1,2,1,Z17,A06,-0.155091,-0.109149,0.132143,-0.035873,-0.043597,0.047228,0.100373,-0.220499,-0.195892,0.171555,19,M231139676
219751,E06043099892,0,2,1,Z10,A06,-0.139966,-0.126596,0.141192,0.003646,-0.057350,0.046370,0.093213,-0.208389,-0.196228,0.199740,19,M664859030
219752,E06046190490,0,2,1,Z10,A06,-0.152769,-0.124576,0.159369,-0.031503,-0.048179,0.050773,0.104911,-0.209812,-0.206893,0.184210,19,M664859030