<a href="https://colab.research.google.com/github/KSY1526/SSUDA_LOTTEs/blob/main/Daniel/LPOINT_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%AA%A8%EB%8D%B8%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!nvidia-smi
!head /proc/cpuinfo
!head -n 3 /proc/meminfo

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2200.144
cache size	: 56320 KB
physical id	: 0
MemTotal:       26692024 kB
MemFree:        24168460 kB
MemAvailable:   25776632 kB

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
from tqdm import tqdm
import pandas as pd
import warnings; warnings.filterwarnings("ignore")
import numpy as np

path = "/content/drive/MyDrive/my_data/LPOINT/"

In [4]:
pdde_cust = pd.read_csv(path+"/LPOINT_BIG_COMP_PDDE_CUST.csv", header=0,encoding="utf-8") # 장바구니
pd_c_df = pd.get_dummies(pdde_cust.loc[:, ["cust", "rct_no", "pd_c"]], prefix_sep="_", columns=["pd_c"], )

pdde_cust_small = pdde_cust.loc[:,["cust","rct_no", "buy_ct"]]
del pdde_cust

In [5]:
pd_c_df

,cust,rct_no,pd_c_PD0001,pd_c_PD0002,pd_c_PD0003,pd_c_PD0004,pd_c_PD0005,pd_c_PD0006,pd_c_PD0007,pd_c_PD0008,...,pd_c_PD1924,pd_c_PD1925,pd_c_PD1926,pd_c_PD1927,pd_c_PD1928,pd_c_PD1929,pd_c_PD1930,pd_c_PD1931,pd_c_PD1932,pd_c_PD1933
0,M430112881,A01000001113,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,M430112881,A01000003148,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,M430112881,A01000003148,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M430112881,A01000004946,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M430112881,A01000005297,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M498069014,E06052019590,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4381739,M498069014,E06052019590,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4381740,M498069014,E06052019590,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4381741,M498069014,E06052019590,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4381742,M866900192,E06052003637,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
custs = pd_c_df.cust.unique()

temp_cust = custs[:0]
pd_c_sums = pd_c_df[pd_c_df["cust"].isin(temp_cust)].groupby("rct_no").sum()

In [ ]:
pd_c_sums

Empty DataFrame
Columns: [pd_c_PD0001, pd_c_PD0002, pd_c_PD0003, pd_c_PD0004, pd_c_PD0005, pd_c_PD0006, pd_c_PD0007, pd_c_PD0008, pd_c_PD0009, pd_c_PD0010, pd_c_PD0011, pd_c_PD0012, pd_c_PD0013, pd_c_PD0014, pd_c_PD0015, pd_c_PD0016, pd_c_PD0017, pd_c_PD0018, pd_c_PD0019, pd_c_PD0020, pd_c_PD0021, pd_c_PD0022, pd_c_PD0023, pd_c_PD0024, pd_c_PD0025, pd_c_PD0026, pd_c_PD0027, pd_c_PD0028, pd_c_PD0029, pd_c_PD0030, pd_c_PD0031, pd_c_PD0032, pd_c_PD0033, pd_c_PD0034, pd_c_PD0035, pd_c_PD0036, pd_c_PD0037, pd_c_PD0038, pd_c_PD0039, pd_c_PD0040, pd_c_PD0041, pd_c_PD0042, pd_c_PD0043, pd_c_PD0044, pd_c_PD0045, pd_c_PD0046, pd_c_PD0047, pd_c_PD0048, pd_c_PD0049, pd_c_PD0050, pd_c_PD0051, pd_c_PD0052, pd_c_PD0053, pd_c_PD0054, pd_c_PD0055, pd_c_PD0056, pd_c_PD0057, pd_c_PD0058, pd_c_PD0059, pd_c_PD0060, pd_c_PD0061, pd_c_PD0062, pd_c_PD0063, pd_c_PD0064, pd_c_PD0065, pd_c_PD0066, pd_c_PD0067, pd_c_PD0068, pd_c_PD0069, pd_c_PD0070, pd_c_PD0071, pd_c_PD0072, pd_c_PD0073, pd_c_PD0074, pd_c_PD0075, pd_c_PD0076, pd_c_PD0077, pd_c_PD0078, pd_c_PD0079, pd_c_PD0080, pd_c_PD0081, pd_c_PD0082, pd_c_PD0083, pd_c_PD0084, pd_c_PD0085, pd_c_PD0086, pd_c_PD0087, pd_c_PD0088, pd_c_PD0089, pd_c_PD0090, pd_c_PD0091, pd_c_PD0092, pd_c_PD0093, pd_c_PD0094, pd_c_PD0095, pd_c_PD0096, pd_c_PD0097, pd_c_PD0098, pd_c_PD0099, pd_c_PD0100, ...]
Index: []

[0 rows x 1933 columns]

In [ ]:
for i in tqdm(range(len(custs)//10 + 1)):

    # 10명 단위로 고객 영수증 인덱스 추출
    if i != len(custs)//10:
        cust_to_idx = pd_c_df["cust"].isin(custs[i*10 : (i+1)*10])
    else:
        cust_to_idx = pd_c_df["cust"].isin(custs[(i+1)*10:])

    # 상품 수와 곱하고 같은 영수증끼리 더한다.
    temp_df = pd_c_df[cust_to_idx].mul(pdde_cust_small.buy_ct[cust_to_idx], axis=0)
    temp_df["rct_no"] = pd_c_df.rct_no[cust_to_idx]
    temp_df = temp_df.groupby("rct_no").sum()

    pd_c_sums = pd.concat([pd_c_sums, temp_df], axis=0)
    del temp_df, cust_to_idx

    # 매 300*10 고객마다 저장
    if i%300 == 0:
        pd_c_sums.to_csv(path + f"LPOINT_BIG_COMP_PC_C_SUMS_{i//300}.csv")
        del pd_c_sums
        pd_c_sums = pd_c_df[pd_c_df["cust"].isin(custs[:0])].groupby("rct_no").sum() # 초기화

# 마지막 2900 고객 저장
pd_c_sums.to_csv(path + f"LPOINT_BIG_COMP_PC_C_SUMS_{i//300 + 1}.csv")

In [8]:
# 첫 10고객들의 영수증
pd_c_sums

,pd_c_PD0001,pd_c_PD0002,pd_c_PD0003,pd_c_PD0004,pd_c_PD0005,pd_c_PD0006,pd_c_PD0007,pd_c_PD0008,pd_c_PD0009,pd_c_PD0010,...,pd_c_PD1924,pd_c_PD1925,pd_c_PD1926,pd_c_PD1927,pd_c_PD1928,pd_c_PD1929,pd_c_PD1930,pd_c_PD1931,pd_c_PD1932,pd_c_PD1933
rct_no,,,,,,,,,,,,,,,,,,,,,
A01000001113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000002265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000003148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000004946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A01000005297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E01002180094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E01002184167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E06024223441,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E06029401213,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
E06036047063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0